body{
    background-color: beige;
}

h1{
font-family: 'Kalam', cursive;    color:rgb(105, 200, 241);
    margin-top: 20px;
    font-family: 'Cherry Bomb One';
}

h2{
    color:rgb(175, 235, 242);
    border-color: azure;
    border-radius: 2px;
}

li{
    font-size: larger;
    color:rgb(1, 0, 2);
}

p{
    color:rgb(113, 142, 142);
}
